body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
 padding: 8px;
  width: 400px;
  font-size:16px;
  
  background: #fff;
  margin: 16px auto;
  
  padding-left: 10px;
  
}

.title {
  padding: 5px;
  margin-bottom: 8px;
  
  background: #e3f4ff;
  margin-top: auto;
  
}

.content {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px
  padding-right: 8px;

  background: #e3f4ff;
  margin-bottom: 8px;
}

.button-container {
  
  text-align: center;
  padding: 8px;
  background: #e3f4ff;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
 
  background: white;
  border: 1px solid #eee;
}